{% load static %}
<html>
    <head>
        <tittle> Our Blog: </tittle>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>

    <body>
        <head>
            <h1> Our Blog: </h1>
            <nav>
                <ul>
                    <li><a href="{% url 'random' %}">Random</a></li>
                    <li><a href="{% url 'show_all' %}">Show All</a></li>
                    <lI> <a href="{%url 'create_article' %}">Create Article</a></lI>
                </ul>
            </nav>
        </head>


        {% block content %}
        {% endblock %}
    </body>
</html>